<style>

body {
  text-align: justify;
  font-family: monospace;
}
h1.title {
  font-size: 38px;
  color: #181818;
  text-align: center;
}
h4.author {
  font-size: 18px;
  font-family: monospace;
  color: #181818;
  text-align: center;
}
h4.date {
  font-size: 18px;
  font-family: monospace;
  color: #181818;
  text-align: center;
}

</style>
